/* Estilos Generales */
:root {
    --color-primero: #FC7300;
    --color-segundo: #1F8A70;
    --color-tercero: #00425A;
    --color-cuarto: #181823;
    --color-quinto: #EFF5F5;
}

img {
    max-width: 100%;
    height: auto;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.seccion-clara {
    color: var(--color-cuarto);
    background-color: var(--color-quinto);
}

/* Barra de navegación */
.navbar {
    padding: 2rem;
    background-color: var(--color-tercero);
    font-family: 'Poppins', sans-serif;
    color: var(--color-quinto);
}

.navbar-collapse {
    align-items: center;
    justify-content: space-between;
}

/* Header */
.bg-header {
    background-image: url("img/titulo.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    color: var(--color-quinto);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 300px;
}

header {
    font-family: 'Poppins', sans-serif;
}

/* Main */
main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#card-section > div {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.conocenos {
    padding: 10px;
}

.card {
    border-radius: 20px;
    padding: 20px;
    width: 100%;
    max-width: 300px;
    border: 1px solid var(--color-quinto);
    box-shadow: 2px 2px 6px var(--color-quinto);
    margin: 20px 10px;
}

.card > h3 {
    color: var(--color-segundo);
    font-size: 1.5em;
    margin: 20px 0;
}

/* Footer */
footer {
    background-color: var(--color-tercero);
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

footer > div {
    flex: 1;
    max-width: 200px;
    margin: 10px;
    text-align: center;
}

footer h4 {
    color: var(--color-quinto);
    margin-bottom: 20px;
}

footer ul {
    line-height: 2.5;
    color: var(--color-quinto);
}

/* Diseño Responsivo */
@media screen and (max-width: 768px) {
    .navbar-brand {
        display: none;
    }

    .navbar-nav {
        flex-direction: column;
        align-items: center;
    }

    .card {
        max-width: none;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }

    footer > div {
        max-width: 100%;
    }
}




